*{
    box-sizing: border-box;
}

body{
    background-color: #eff0f5;
    color:#424242;
    font-family: Helvetica,Tahoma,Arial,Sans-serif;
    margin: 0;
}

nav .logo{
    height:50px;
    width: 200px;
    object-fit: cover;
}

li, a{
    text-decoration: none;
    
}

a{
    color: #252f7b;
}

a:hover{
    color:#f95031;
}

nav {
    font-size: 20px;
    background-color: #ffffff;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding: 10px;
    width: 100%;
    z-index: 100;
    display: flex;
    text-align: center;
    border-bottom: 1px solid #cacaca;
}

nav a{
    padding-left: 1px;
}

nav .middle-nav {
    width: 85%;
}

nav .right-nav {
    width: 15%;
    margin-right: .5%;
}

ul {
    list-style-type: none;
}

li {
    padding-left: 5px;
    display: inline-flex;
    list-style: none;
}

h1{
    text-align: center;
}

.title{
    padding-bottom: 10px;
}

.title{
    margin-top: 50px;
    padding-top: 50px;
}

.box{
    padding-left: 5%;
    padding-right: 5%;
}

.container{
   background-color: white;
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   margin-right: -15px;
   margin-left: -15px;
   justify-content: center;
   border: 20px white;
}

.container img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.content{
    margin: 10px;
}

.content a{
    color:#424242;
}

.footer{
    background-color: #ffffff;
    margin-top: 100px;
    padding: 10px;
}

footer li{
    padding-left: 5px;
}

.copyright {
    display: inline-block;
    margin-left: 15%;
    vertical-align: 200%;
}

.follow {
    width: 25%;
    margin-left: 15%;
    display: inline-block;
}

ul{
    list-style-type: none;
}

.social {
    display: inline-block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#cart{
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ffffff;
    padding-top: 50px;
    padding-right: 25px;
    padding-bottom: 50px;
    padding-left: 25px;
    display: block;
    text-align: left;
}

table{
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

#cart td, #cart th{
    border-bottom: 2px solid #eff0f5;
    
}

th, td{
    padding: 8px;
}

.Account{
     display: block;
     background-color: #eff0f5;
    
}

.Account p{
    text-align: right;
    margin-right: 5%;
    margin-bottom: 0;
}

#info{
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ffffff;
    padding-top: 50px;
    padding-right: 25px;
    padding-bottom: 50px;
    padding-left: 25px;
    display: block;
    text-align: left;
}

#info input[type=password], #info input[type=text] {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

#info .save-button {
    background-color: #28a745;
    color: white;
    border: 0;
    padding-top: 7px;
    padding-right: 30px;
    padding-bottom: 7px;
    padding-left: 25px;
    border-radius: 3px;
}

tr:hover {
    background-color: #ececec;
}

#products {
    display: block;
    background-color: #eff0f5;
    padding-top: 30px;
}
.desc{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 50px;
    display: block;
    text-align: center;
    margin-top: 50px;
}

.desc img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.desc form{
    display: block;
    margin-top: 10px;
}

.h1{
    margin-top: 20px;
}

#products .button {
    background-color: #007bff;
    color: white;
    border: 0;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-radius: 3px;
}

#products p {
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (max-width: 805px){
    .title {
       margin-top: 100px;
       padding-top: 100px;
   }
}

@media screen and (max-width: 455px){
    .title {
        margin-top: 150px;
        padding-top: 150px;
   }
}
       
@media screen and (max-width: 805px){
nav {
   display: block;
    }
}

@media screen and (max-width: 805px){
nav .middle-nav {
   width: 100%;
   text-align: center;
    }
}

@media screen and (max-width: 805px){
   .nav {
       margin-right: 10%;
   }
}

@media screen and (max-width: 805px){
   nav .right-nav {
       width: 100%;
       text-align: center;
   }
}

@media screen and (max-width: 320px){
   nav .right-nav, nav .middle-nav {
       padding-right:50px
   }
}

@media only screen and (max-width:  360px) {
    .follow, .social {
        margin: 0;      
    }
}

@media only screen and (max-width:  420px) {
    th, td {
        padding: 0%; 
        text-align: center;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width:  420px) {
     #cart {
        margin: 0px; 
        padding: 0;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 780px) {
    .hide-1 {
      display: none;
    }
}

@media only screen and (max-width: 700px) {
    .hide-2 {
      display: none;
    }
}

@media only screen and (max-width: 420px) {
    #info td, #info th{
       padding: 10px;
       text-align: left;
   }
}

@media only screen and (max-width: 420px) {
   #info{
      margin: 0;
      padding: 10px;
  }
}

@media only screen and (max-width: 810px) {
    .desc {
        margin-top: 250px;
    }
}